<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Minhas Cartas de Pokemon</h2>
    <div
      *ngFor="let deck of actualCards">
      <p>Baralho: {{ deck.name }}</p>
      <p>Cartas: {{ deck.cards.length}}</p>
      <div  class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
        *ngIf="deck.cards && deck.cards.length > 0">
        <div class="group relative"*ngFor="let card of deck.cards">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="{{card.images?.large}} " alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                  <span aria-hidden="true" class="absolute"></span>
                  {{card.supertype}}
              </h3>
              <p class="mt-1 text-sm text-gray-500"></p>
            </div>
            <p class="text-sm font-medium text-gray-900">{{card.name}}</p>
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                  <span aria-hidden="true" class="absolute"></span>
                  {{card.types}}
              </h3>
              <p class="mt-1 text-sm text-gray-500"></p>
            </div>
            <p class="text-sm font-medium text-gray-900">HP {{card.hp}}</p>
          </div>
          <button class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-gray-400"
          (click)="removeCards(card.id)">Remover</button>
        </div>
        <div>
        </div>
      </div>
      <p-toast position="bottom-center"></p-toast>
  </div>
</div>
