
<div class="bg-white">
  <i class="fixed bottom-16 bg-white right-2 z-50 pi pi-shopping-cart mr-4 p-text-secondary" pBadge style="font-size: 2rem"
  [value]="deckCards[0].cards.length.toString()" severity="danger"></i>
  <div class="mx-auto max-w-2xl px-4  sm:px-6 sm:py-5 lg:max-w-7xl lg:px-8">
    <a routerLink="/baralhos" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-gray-400"
          ><i class="pi pi-angle-double-left pr-2"></i> Voltar</a>
  </div>
  <div class="mx-auto max-w-2xl px-4 py-10 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Cartas de Pokemon</h2>
    <p>Escolha entre 24 e 60 cartas</p>


    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div class="group relative shadow-2xl p-3 rounded-md" *ngFor="let card of cards">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="{{card.images.large}} " alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
                <span aria-hidden="true" class="absolute"></span>
                {{card.supertype}}
            </h3>
            <p class="mt-1 text-sm text-gray-500"></p>
          </div>
          <p class="text-sm font-medium text-gray-900">{{card.name}}</p>
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
                <span aria-hidden="true" class="absolute"></span>
                {{card.types}}
            </h3>
            <p class="mt-1 text-sm text-gray-500"></p>
          </div>
          <p class="text-sm font-medium text-gray-900">HP {{card.hp}}</p>
        </div>
        <div>
          <button type="button" class="inline-flex items-center rounded-md bg-yellow-500 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-gray-400"
          (click)="addCard(card)"><i class="pi pi-plus"></i></button>
        </div>
      </div>

    </div>
    <button class="inline-flex items-center rounded-md mt-10 bg-yellow-500 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-gray-400"
      (click)="addDeck()">Adicionar ao baralho</button>
    <p-toast position="bottom-center"></p-toast>
  </div>
</div>
